<form id="searchLabelForm" action="{{ path('labels_search_ajax') }}" method="get" autocomplete="off" role="search">

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <input id="search" type="text" class="form-control" placeholder="Search labels..." name="search" value="" autocapitalize="none" autocomplete="off" required>
            </div>
        </div>
    </div>

</form>