<div class="col-lg-6 mb-4">
    <div class="card bg-primary text-white shadow">
        <div class="card-body">
            Primary
            <div class="text-white-50 small">#4e73df</div>
        </div>
    </div>
</div>