{% extends 'layouts/base.html.twig' %}

{% block title %}{% trans from 'dashboard' %}organizations.add{% endtrans %}{% endblock %}

{% block searchbar %}
    {% include 'components/forms/organizations/search.html.twig' %}
{% endblock %}

{%  block content %}


    <div class="jumbotron">
        <h1 class="display-1 text-center">{% trans from 'dashboard' %}organizations.add{% endtrans %}</h1>

        <div class="container">
            <div class="card card-custom">
                <div class="card-body">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        {% include 'components/messages.html.twig' %}
                    </div>
                    {% include 'components/forms/organizations/add.html.twig' %}
                </div>
            </div>
        </div>
    </div>




{% endblock %}