<div class="modal fade" id="deleteModal_{{ label.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">This operation will destroy all label data <br /><br />Select "Confirm" to proceed.</div>
            <div class="modal-footer">
                <form id="deleteForm" action="{{ path('labels_delete', {id: label.id} ) }}" method="post">
                    <button id="deleteSubmit" type="submit" class="btn btn-danger">{% trans from 'global' %}global.confirm{% endtrans %}</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">{% trans from 'global' %}global.cancel{% endtrans %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

