<form  method="post" class="user" >
    {% if error %}
        {# TODO: implemet translated messages with custom logic #}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            {% trans from 'messages' %}login.logged_in{% endtrans %} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans from 'auth' %}logout.sign_out{% endtrans %}</a>
        </div>
    {% endif %}


    <div class="form-group">
        <input type="email" class="form-control form-control-user"
               id="inputEmail" aria-describedby="emailHelp"
               placeholder="{% trans from 'auth' %}login.email.placeholder{% endtrans %}" name="email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control form-control-user"
               id="InputPassword" placeholder="{% trans from 'auth' %}login.password.placeholder{% endtrans %}" name="password">
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox small">
            <input type="checkbox" class="custom-control-input" id="customCheck">
            <label class="custom-control-label" for="customCheck">
                {% trans from 'auth' %}login.remember_me{% endtrans %}
            </label>
        </div>
    </div>

    <button class="btn btn-primary btn-user btn-block" type="submit">
        {% trans from 'auth' %}login.sign_in{% endtrans %}
    </button>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <hr>
    {#                                    <a href="index.html" class="btn btn-google btn-user btn-block">#}
    {#                                        <i class="fab fa-google fa-fw"></i> Login with Google#}
    {#                                    </a>#}
    {#                                    <a href="index.html" class="btn btn-facebook btn-user btn-block">#}
    {#                                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook#}
    {#                                    </a>#}
</form>